---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row">
    <div
      class="text-[#EDE6DA] w-auto text-base md:pr-5 opacity-0 transition-all duration-700 translate-y-16 whitespace-pre-line"
      data-scroll-animation
    >
      {description}
    </div>
    <div
      class="w-64 h-80 p-4 flex-shrink-0 rotate-[5deg] md:rotate-[7deg] opacity-0 transition-all duration-700 translate-y-16 border-4 border-[#F5D0A9]"
      data-scroll-animation
    >
      <img
        src={image}
        alt="Chungsiang Roeurn portrait"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</Section>

<script>
  function setupScrollAnimations() {
    const animatedElements = document.querySelectorAll(
      "[data-scroll-animation]",
    );

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            (entry.target as HTMLElement).style.opacity = "1";
            (entry.target as HTMLElement).style.transform = "translateY(0)";
            observer.unobserve(entry.target);
          }
        });
      },
      {
        root: null,
        threshold: 0.1,
        rootMargin: "-50px",
      },
    );

    animatedElements.forEach((element) => {
      observer.observe(element);
    });
  }

  setupScrollAnimations();

  document.addEventListener("astro:page-load", setupScrollAnimations);
</script>
